.loginContainer {
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 5;
    height: 50vh;
    width: 30vw;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    vertical-align: middle;
}