.sideContainer {
    height: 90vh;
    width: 30vw;
    position: absolute;
    top: 5%;
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
}

.trackListContainer {
    position: absolute;
    z-index: 5;
    height: 50vh;
    width: 30vw;
    top: 2%;
    right: 0;
    bottom: 0;
    left: 2%;
}

.trackList {
    margin: 15px;
}

.topTracks {
    animation-duration: 15s;
    animation-name: showTopTracks;
}

.topTracksText {
    font-size: 24px;
    position: absolute;
    top: 5%;
    bottom: 0;
    left: 15%;
    right: 0;
    margin: 0;
    animation-duration: 2s;
    animation-name: hideTopTracksText;
    opacity: 0;
}

.currentlyPlayingContainer {
    width: 30vw;
    animation-duration: 15s;
    animation-name: showCurrentlyPlaying;
    animation-delay: 3s;
}

.currentlyPlayingInfo {
    position: absolute;
    z-index: 5;
    top: 4%;
    right: 0;
    bottom: 0;
    left: 38%;
}

.currentlyPlayingBg {
    width: 30vw;
    height: 20vh;
    position: absolute;
    margin: 0 auto;
    top: 5%;
    bottom: 0;
    left: 10%;
    right: 0;
}

.currentlyPlayingText {
    font-size: 24px;
    position: absolute;
    top: 5%;
    bottom: 0;
    left: 45%;
    right: 0;
    margin: 0;
    animation-duration: 2s;
    animation-name: hideCurrentlyPlayingText;
    animation-delay: 3s;
    opacity: 0;
}

.container {
    animation-name: delayCurrentlyPlaying;
    animation-duration: 4s;
}

.loadingDotsVertical {
    display: flex;
    flex-direction: row;
}

.loadingDotsVertical > div {
    width: 16px;
    height: 16px;
    margin: 3px 6px;
    border-radius: 50%;
    background-color: grey;
    opacity: 1;
    animation: bouncingLoader 0.6s linear infinite;
}

.loadingDotsVertical > div:nth-child(2) {
    animation-delay: 0.2s;
}

.loadingDotsVertical > div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bouncingLoader {
    0% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 15px;
    }
    100% {
        margin-bottom: 0;
    }
}

@keyframes showTopTracks {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hideTopTracksText {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes showCurrentlyPlaying {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hideCurrentlyPlayingText {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes delayCurrentlyPlaying {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
}
